{% extends 'base.html.twig' %}

{% block title %}Movies index{% endblock %}

{% block body %}
    <h1>Movies index</h1>
    <div class="w-25 m-auto">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Envoyer') }}</button>
        {{ form_end(form) }}    
    </div>
{% endblock %}
