{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>
        <div class="w-25 m-auto">
            {{ include('user/_form.html.twig') }}
        </div>
{% endblock %}
